*.hdir
*.epub.d

100-en-fa.slob
300-ru-en-*.slob

100-cyber_lexicon_en-es.txt_res/
100-en-fa-sd-merge-syns-v2/100-en-fa.syn
Currency_In_Each_Country.txt
Currency_In_Each_Country.txt_res/
Farsi_Aviation_Dictionary.txt
Farsi_Aviation_Dictionary.txt_res/
Solar_Physics_Glossary.txt
Solar_Physics_Glossary.txt_res/
