<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string>com.apple.dictionary.MySample</string>
	<key>CFBundleName</key>
	<string>002-no-morphology-v3</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © 2007 Apple Inc..</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Apple Inc..</string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		
	</dict>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
	
</dict>
</plist>
